.navbar-logo {
  height: 20px;
  object-fit: contain;
}

@media (max-width: 991px) {
  #navbarNav {
    background-color: #074e94;
    width: 100%;
  }
  .col-log-register {
    display: flex;
    justify-content: center;
    margin: 5px;
  }
}

.col-log-register {
  display: flex;
  flex-direction: row;
}
/* Remove custom background color for the collapsible menu */
.collapse {
  background-color: transparent !important;
}
.navbar .badge {
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.dropdown-item {
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #007bff;
}
