.custom-background {
  height: 95vh;
  position: relative;
  background: rgb(210, 246, 172);
  filter: brightness(0.6);
}

.service-background {
  background-image: url("./img/1.png");
  background-size: cover;
  background-position: center;
  height: auto;
  position: relative;
  filter: brightness(0.6);
  background-attachment: fixed;
}
